# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
*.pem

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.pnpm-debug.log*

# local env files
.env*
.env.local*
